.hx-nav {
	height:64px;
	background: #FFFFFF;
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.50); 

	.container-fluid {
		height: 64px;
	}	

	.hx-logo-container {
		height: 64px;
	}

	.hx-image-logo {
		margin-top:10px;
		float: left;
	}

	.hx-text-logo {
		height:64px;
		display: inline-block;
		padding-top: 20px;
		margin-left: -10px;
	}

	.brand-container {
		height:33px;
		

		margin-top:15px;
		float: right;
		position: absolute;
		margin-left: -10px;
	}

	.title-font {
		font-family: HelveticaNeue-Medium;
		font-size: 24px;
		color: rgba(0,0,0,0.87);
		letter-spacing: 0px;
		line-height: 32px;
	}

	.title-font2 {
		font-family: HelveticaNeue-Thin;
		font-size: 24px;
		color: rgba(0,0,0,0.87);
		letter-spacing: 0px;
		line-height: 32px;
	}

	.hx-login-form {
		padding-top:20px;
		float: right;

		width: auto;
		height: 64px;
	}

	.hx-nav-icon{
		height:64px;
		width:auto;

		padding-top:20px;
		margin-left: 11px;
		float: right;
	}
}
