.hx-card.col-sm-6
	.hx-card-color
	.hx-color-info
		p.hx-card-text-18 DRIBBLE
		p.hx-card-text-14 {{color}}
		p.hx-card-text-14 {{theme}}

.hx-card.col-sm-6
	.hx-card-color
	.hx-color-info
		p.hx-card-text-18 DRIBBLE
		p.hx-card-text-14 #FJF234
		p.hx-card-text-14 Serenity

.hx-card.col-sm-6
	.hx-card-color
	.hx-color-info
		p.hx-card-text-18 DRIBBLE
		p.hx-card-text-14 #FJF234
		p.hx-card-text-14 Serenity

.hx-card.col-sm-6
	.hx-card-color
	.hx-color-info
		p.hx-card-text-18 DRIBBLE
		p.hx-card-text-14 #FJF234
		p.hx-card-text-14 Serenity

.hx-card.col-sm-6
	.hx-card-color
	.hx-color-info
		p.hx-card-text-18 DRIBBLE
		p.hx-card-text-14 #FJF234
		p.hx-card-text-14 Serenity