$helvetica: Helvetica, sans-serif;

$backGround: #F7CAC9;

.font {
	font: $helvetica;
	color: rgb(255,255,255);
}

.container{
	margin-top:100px;
	padding-right:15px;
	padding-left:15px;
}

.column {
	height: 200px;
	border: 1px solid;
	border-radius: 5px;
}

