nav.navbar.navbar.navbar-fixed-top.hx-nav
			.container-fluid
				.navbar-header
					img.logo(src='https://d13yacurqjgara.cloudfront.net/users/343382/screenshots/2176462/rounded-hexagon-low-poly-polygonal-animation-gif-logo-minimal.gif')
					a.brandContainer(href='') 
						p
							span.titleFont	HEX
							span.titleFont2 trends
				form.hx-login-form
					input.field1(type='text' placeholder='Username')
					input.field2(type='password' placeholder='Password' name="password")
					.glyphicon.glyphicon-ok-sign