doctype html
html(lang="en")
	head
		title HEXtrends
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		

	body.background
		nav.navbar.navbar.navbar-fixed-top.navSass
			.container-fluid
				.navbar-header
					img.smallLogo(src='https://d13yacurqjgara.cloudfront.net/users/343382/screenshots/2176462/rounded-hexagon-low-poly-polygonal-animation-gif-logo-minimal.gif')
					a.brandContainer(href='') 
						p
							span.titleFont	HEX
							span.titleFont2 trends
				form.formSass
					input.field1(type='text' placeholder='Username')
					input.field2(type='password' placeholder='Password' name="password")
					.glyphicon.glyphicon-ok-sign

		#container


		
		script(src='http://cdn.ractivejs.org/latest/ractive.js')
		script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")