$helvetica: Helvetica, sans-serif;

$backGround: #4C5D7D;

.navbar-default {
    background-color: $backGround;
    border-color: $backGround;
}

.fontThick {
	font: $helvetica;
	font-weight: bold;
	color: white;
}

.fontThin {
	font: $helvetica;
	font-weight: 100;
	color: white;
}

.container{
	margin-top:100px;
	padding-right:15px;
	padding-left:15px;
}

.column {
	height: 37px;
	border: 1px solid;
}

