nav.navbar.navbar.navbar-fixed-top.hx-nav
	.container-fluid
		a.hx-logo-container(href='')
			img.hx-image-logo(src='https://d13yacurqjgara.cloudfront.net/users/343382/screenshots/2176462/rounded-hexagon-low-poly-polygonal-animation-gif-logo-minimal.gif') 
			p.hx-text-logo
				span.title-font	HEX
				span.title-font2 trends
		form.hx-login-form
			input.field1(type='text' placeholder='Username')
			input.field2(type='password' placeholder='Password' name="password")
			div.hx-nav-icon
				.glyphicon.glyphicon-ok-sign
					


