.titleFont {
	font-family: HelveticaNeue-Medium;
	font-size: 24px;
	color: rgba(0,0,0,0.87);
	letter-spacing: 0px;
	line-height: 32px;
}

.titleFont2 {
	/* trends: */
	font-family: HelveticaNeue-Thin;
	font-size: 24px;
	color: rgba(0,0,0,0.87);
	letter-spacing: 0px;
	line-height: 32px;
}



